@model CURD_mvc_application.Models.VehicleModel

@{
    ViewBag.Title = "Search";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        welcome to search page here you can search specifically
    </div>
</body>
</html>
