@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h2 style="
    font-size:50px">
            Dynomerk Vehicle Management System <br>
        </h2>
        <p class="lead" style="font-size:17px">
            Welcome to dynomerk controlls !!! <br>
            DYNOMERK CONTROLS came into existence in April 1996 as a group of Engineers experienced in manufacturing automotive test equipments like eddy current dynamometers for engine, Transient Dynamometer, re-generative chassis dynamometers, brake inertia dynamometers, and test rigs for automotive components.
            We Started with Eddy Current Dynamometers and associated controls for engine testing. The present instrumentation is fully equipped with entire modern techniques, well advanced in quality and technology.
            We are the first in India to launch a indigenous field-proven Regenerative Chassis Dyno for vehicle testing. All our systems are equipped with Real time Operating Systems and PC controls.

        </p>
        <br>
        <p class="btn btn-default">@Html.ActionLink("Vehicle Details", "Index", "VehicleModels") &raquo;</p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
       
    </div>
</div>